.dashboard-container {
  height: 100%;
  width: 100%;
}

.dashboard-search {
  height: 10%;
  border: 2px dotted grey;
}

.dashboard-title {
  height: 8%;
  border: 2px dotted grey;
}

.dashboard-title > span {
  margin-left: 1%;
  font-size: 4vh;
}

.dashboard-upcoming {
  display: grid;
  grid-template-columns: 333px 333px 333px;
  width: 100%;
  margin: auto;
  height: 41%;
  border: 2px dotted grey;
}

.dashboard-past {
  height: 41%;
  border: 2px dotted grey;
}
