@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Montserrat:wght@500;600&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  color: rgb(66, 114, 248);
}

.container-fluid {
  height: 100%;
  width: 100vw;
  max-width: 100%;
  padding: 0;
}

.Navbar {
  background-color: lightgray;
  border: 4px dotted grey;
  width: 100%;
  height: 5vh;
}

.Dashboard {
  background-color: lightgray;
  height: 95vh;
  width: 100%;
  margin: 0;
}

.Eventpage {
  background-color: lightgray;
  height: 150vh;
  width: 100%;
  margin: 0;
}
