@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Montserrat:wght@500;600&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

.container-fluid {
  height: 100%;
  width: 100vw;
  max-width: 100%;
  padding: 0;
}

.Navbar {
  background-color: white;
  width: 100%;
  height: 10vh;
}

.Dashboard {
  background-color: white;
  height: 130vh;
  width: 100%;
  margin: 0;
}

.Eventpage {
  background-color: white;
  height: 150vh;
  width: 100%;
  margin: 0;
}
