.login-email,
.login-password,
.login-button {
  width: 250px;
  margin-bottom: 10px;
}

.login-field {
  text-align: center;
}

.login-step {
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
}

.login-status {
  margin-bottom: 5px;
  color: red;
}

.login-verification-subtext {
  font-size: 15px;
  text-align: center;
  margin-bottom: 20px;
}

.login-welcome {
  text-align: center;
  font-size: 50px;
  margin-bottom: 100px;
  margin-top: 100px;
}

.signup-resend-email {
  text-align: center;
  margin-top: 10px;
}

.signup-resend-button {
  margin-left: 50px;
  width: 250px;
}

.signup-choices {
  width: 250px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 60px;
}

.signup-email {
  text-align: center;
}

.signup-status {
  margin-bottom: 10px;
  color: red;
}
