.navbar {
  padding: 0;
  height: 100%;
  display: flex;
}

.navbar-brand {
  flex: 85%;
}

.navbar-buttons {
  flex: 15%;
}

.navbar-logo {
  width: 150px;
  top: 1%;
}

.navbar-logout {
  position: absolute;
  right: 30px;
  top: 15px;
}

.navbar-signed-in-as {
  position: absolute;
  font-size: 12px;
  top: 1%;
  right: 5%;
  padding: 0;
}
