.activityComponentHeader {
  text-align: center;
  margin: 0.5rem;
}

.activityCards {
  display: flexbox;
  flex-direction: column;
  overflow: auto;
  max-height: 84%;
  width: auto;
}

.individualActivityCard {
  display: flexbox;
  height: 15rem;
  width: auto;
  border: 1px solid rgb(84, 116, 138);
  margin-bottom: 1rem;
}

.individualActivityCard:hover .cardHeaderImg {
  opacity: 100%;
  transform: scale(1.01);
}

.individualActivityCardImgDiv {
  margin-left: 0;
  border: 0;
  padding: 0;
  align-self: center;
  transition: 5;
}

.cardHeaderImg {
  max-width: 32rem;
  height: auto;
  opacity: 70%;
  transition: 0.2s ease-in-out;
}

.individualActivityCard :hover {
  cursor: pointer;
}

.activityListGroup {
  align-content: center;
  margin-left: 3%;
}

.activityListItem {
  padding: 0.15rem;
  font-size: clamp(10px, 2vw, 15px);
}

.activityListItemType {
  margin-right: 1rem;
  padding-right: 1rem;
  border-right: 1px solid rgb(66, 114, 248);
}
.activityListItemText {
  margin-left: 0.4rem;
}

.activityFooter {
  display: flex;
  align-items: flex-end;
  flex: 2;
  justify-content: space-around;
  margin-bottom: 0.5rem;
}

.activityClickToSeeMore {
  display: flex;
  align-items: 'center';
  text-align: center;
  /* margin-bottom: 0.15rem; */
  font-size: clamp(8px, 2vw, 12px);
  border: none;
  background: none;
  transition: 0.1s ease-in-out;
}
.activityClickToSeeMore:hover {
  color: #022b55;
  transform: scale(1.1);
}
.smsIcon {
  display: flex;
  align-items: 'center';
  font-size: clamp(8px, 2vw, 12px);
  border: none;
  background: none;
  transition: 0.1s ease-in-out;
}

.smsIcon:hover {
  color: #022b55;
  transform: scale(1.1);
}

.tooltip.show {
  opacity: 1;
}

.tooltip-inner {
  position: absolute;
  width: 10rem;
  background-color: #9a9b9c;
  box-shadow: 0px 0px 2px rgb(250, 246, 246);
  opacity: 1 !important;
}

.addActivityButton {
  margin-left: 5%;
  margin-bottom: 2rem;
  width: 90%;
}

.commentActivity {
  padding-left: 0.5rem;
}
