.activityComponentHeader {
  text-align: center;
  margin: 0.5rem;
}

.activityCards {
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 90%;
  width: 100%;
}

.individualActivityCard {
  display: flexbox;
  height: 15rem;
  width: auto;
  border: 1px solid rgb(84, 116, 138);
  margin-bottom: 1rem;
}
.individualActivityCard:hover {
  opacity: 1;
}
.individualActivityCard:hover .cardHeaderImg {
  opacity: 80%;
  /* transform: scale(1.01); */
  /* overflow: auto; */
}

.individualActivityCardImgDiv {
  margin-left: 0;
  border: 0;
  padding: 0;
  align-self: center;
  transition: 0.2s;
}

.cardHeaderImg {
  width: clamp(500px, 10vw, 1000px);
  height: 80px;
  opacity: 50%;
  transition: 0.2s ease-in-out;
  margin-top: 1rem;
}

.individualActivityCard :hover {
  cursor: pointer;
}

.activityListGroup {
  align-content: center;
  margin-left: 2%;
  transition: 0.3s ease-in-out;
}

.activityListItem {
  padding: 0.15rem;
  font-size: clamp(7px, 2vw, 14px);
}

.activityListItemType {
  margin-right: 1rem;
  padding-right: 1rem;
  border-right: 1px solid rgb(66, 114, 248);
}
.activityListItemType,
.activityListItem :hover {
  color: #022b55;
}
.activityListItemText {
  margin-left: 0.1rem;
}

.activityFooter {
  display: flex;
  align-items: flex-end;
  flex: 3;
  justify-content: space-around;
  margin-bottom: 0.5rem;
}

.activityClickToSeeMore {
  display: flex;
  align-items: 'center';
  text-align: center;
  font-size: clamp(5px, 2vw, 12px);
  border: none;
  background: none;
  transition: 0.3s ease-in-out;
  padding-bottom: 4px;
}
.activityClickToSeeMore:hover {
  transform: scale(1.1);
}
.smsIcon {
  display: flex;
  align-items: 'center';
  font-size: clamp(5px, 2vw, 12px);
  border: none;
  background: none;
  transition: 0.3s ease-in-out;
}

.smsIcon:hover {
  color: #022b55;
  transform: scale(1.1);
}

.tooltip.show {
  opacity: 1;
}

.tooltip-inner {
  position: absolute;
  font-size: 10px;
  padding: 0;
  width: 6rem;
  background-color: #9a9b9c;
  box-shadow: 0px 0px 2px rgb(250, 246, 246);
  opacity: 1 !important;
}

.addActivityButton {
  margin-left: 5%;
  margin-bottom: 2rem;
  width: 90%;
}

.commentActivity {
  padding-left: 0.5rem;
}

.chooseActicityType {
  font-size: clamp(14px, 2vw, 15px);
}

.addActivityModal {
  width: 897px;
  height: 600px;
}

.addActivityModalCloseButton {
  margin-top: 2rem;
  margin-left: 11rem;
  width: 8rem;
  height: 2.5rem;
}

.addActivityForm {
  margin-left: 10%;
  width: 80%;
}

.addActivityFormInput {
  margin-top: 1rem;
}

.chooseDuration {
  width: 80%;
}
.chooseActivityDate {
  width: 100%;
}
.addActivityModalSubmitButton {
  margin-top: 2rem;
  margin-left: 8rem;
  width: 8rem;
  height: 2.5rem;
}

.addToCalendarIcon {
  display: flex;
  /* align-items: 'center'; */
  font-size: clamp(8px, 2vw, 12px);
  border: none;
  background: none;
  transition: 0.3s ease-in-out;
}

.addToCalendarIcon:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.addIconAlone {
  padding-bottom: 3px;
}

.addToCalendarModal {
  height: 30rem;
  width: 48rem;
}

.modalCloseButton button {
  outline: none;
  background-color: Transparent;
  border: 0.5px solid rgb(31, 112, 218);
}
.addedToCalendar {
}
.addToCalendarButtons {
  margin-top: 1rem;
}

.activityDetailTitle {
  margin-bottom: 1rem;
}
.activityDetailInfo {
  color: rgb(61, 85, 112);
  font-weight: 200;
}

.Eachcomment {
  margin-top: 0.5rem;
}

.commentBody {
  color: rgb(61, 85, 112);
  font-weight: 200;
  text-decoration: underline;
}

.leaveCommentButtonsContainer {
  margin-top: 2rem;
  justify-items: center;
  align-items: center;
}

.updateActivityDetailSubmitButton {
  margin-top: 6rem;
}

.updateActivityDetailCancelButton {
  margin-top: 1rem;
}
.activityDetailModal {
  width: 30rem;
  height: 35rem;
  overflow-y: auto;
}

.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.modal-backdrop.fade {
  opacity: 0.03;
  filter: alpha(opacity=0);
}
.modal-backdrop.fade.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
