.activityComponentHeader {
  text-align: center;
  margin: 0.5rem;
}

.activityCards {
  display: flexbox;
  flex-direction: column;
  overflow: auto;
  max-height: 84%;
  width: auto;
}

.individualActivityCard {
  display: flexbox;
  height: 15rem;
  width: auto;
  border: 1px solid rgb(84, 116, 138);
  margin-bottom: 1rem;
}

.individualActivityCard:hover .cardHeaderImg {
  opacity: 100%;
}

.individualActivityCardImgDiv {
  margin-left: 0;
  border: 0;
  padding: 0;
}

.cardHeaderImg {
  max-width: 32rem;
  height: auto;
  align-self: center;
  opacity: 70%;
}

.individualActivityCard :hover {
  cursor: pointer;
}

.mappingActivities {
  margin: 0.2rem;
}
.mappingActivities :hover {
  transform: scale(1.005);
  transition: 0.5s;
}

.activityListItem {
  padding: 0.15rem;
  font-size: clamp(10px, 2vw, 15px);
}

.activityListItemType {
  margin-right: 1rem;
  padding-right: 1rem;
  border-right: 1px solid rgb(153, 176, 219);
}
.activityListItemText {
  margin-left: 1rem;
}

.activityFooter {
  display: flex;
  align-items: flex-end;
  flex: 2;
  justify-content: space-around;
  margin-bottom: 0.5rem;
}

.activityClickToSeeMore {
  display: flex;
  align-items: 'center';
  text-align: center;
  /* margin-bottom: 0.15rem; */
  font-size: clamp(8px, 2vw, 12px);
  border: none;
  background: none;
}
.activityClickToSeeMore:hover {
  color: #022b55;
  /* transform: scale(1.03);
  transition: 0.5s; */
}
.smsIcon {
  display: flex;
  align-items: 'center';
  font-size: clamp(8px, 2vw, 12px);
  border: none;
  background: none;
}

.smsIcon:hover {
  color: #022b55;
  /* transform: scale(1.03);
  transition: 0.5s; */
}
.activityFooterCommentText {
  margin-left: 0.2rems;
}

.tooltip.show {
  opacity: 1;
}

.tooltip-inner {
  position: relative;
  background-color: #82858a;
  box-shadow: 0px 0px 2px rgb(250, 246, 246);
  opacity: 1 !important;
}

.addActivityButton {
  margin-left: 5%;
  margin-bottom: 2rem;
  width: 90%;
}
