.eventpage-trip-top {
  display: flex;
  flex-direction: row-reverse;
  /* height: 30px;
  max-height: 30px; */
}
.eventpage-trip-bottom {
  height: 75%;
  max-height: 75%;
}

.eventpage-trip-invite-btn {
  width: 240px;
  border: 1px solid;
  background-color: rgb(171, 113, 225);
  cursor: pointer;
  margin: 5px;
  margin-right: 25px;
}
.eventpage-trip-invite-btn:hover {
  background: rgb(89, 41, 131);
}

div[class^='trip-bot-col'] {
  display: flex;
  flex-direction: column;
  background: yellow;
}

/*///////////////////////DESTINATION & DATE COUNTS COLUMN ////////////*/

.trip-bot-col-first {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.e-trip-calendar {
  background-color: lightgray;
  border: 2px solid rgb(171, 113, 225);
  width: 70%;
  height: 50%;
  align-items: center;
}

/*///////////////////////PARTICIPANTS COLUMN ////////////*/

.trip-bot-col-second {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.participants-container {
  display: flex;
  flex-direction: row;
}

.participant-box {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

/*///////////////////////CHECKLIST COLUMN ////////////*/
